.App {
  text-align: center;
}

.App-logo {
  height: 20vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 2s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.numContainer {
  display: flex;
  list-style-type: none;
  border: 3px solid whitesmoke;
  padding: 1rem;
  border-radius: 0.5rem;
  width: 85vw;
}

.numContainer li {
  margin: 0.8rem;
  cursor: pointer;
  font-size: 1.25rem;
  border: 3px solid rgba(245, 245, 245, 0.614);
  padding: 0.3rem 0.6rem;
  border-radius: 0.5rem;
}

.numContainer li:last-child {
  border: none;
  font-size: 1.8rem;
  font-weight: 700;
  color: gold;
  margin-left: auto;
}