.cardContainer {
  padding: 1rem;
  border-radius: 1rem;
  background-color: #dddddd99;
  height: calc(100% - 2rem);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.cardContainer>div:first-of-type {
  margin-bottom: auto;
}

.userImg {
  width: 100px;
}

.isActive {
  display: flex;
  align-items: center;
  justify-content: center;
}

h3 {
  padding: 0.35rem;
}